html {
  background: url('./drums_background.jpg') bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  color: #fff;
  text-align: center;
}

.keys {
  display: flex;
  flex: 1;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
}
.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 8rem;
  background: rgba(0,0,0,0.8);
  text-shadow: 0 0 .5rem black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
kbd {
  font-family: Helvetica, sans-serif;
  display: block;
  font-size: 4rem;
}
.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
h1{
  font-size: 3rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
p {
  font-size: 1.4rem;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}
h2{
  display: inline-block;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}
#keysPressed{
  margin: 0;
}
#play {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
}
